.txt2{
    margin:0.4rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#660066 !important;
    font-size:1rem !important;
}
.txt3{
    margin:0.4rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#660066 !important;
    font-size:0.8rem !important;
}